.item{

 padding-right: 110px;
 &__wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
 }
& img{
 width: 100px;
}
}
.button{
 position: absolute;
 border-radius: 0;
 min-width: 110px;
}
.delete {
 top: 0;
 right: 0;
 bottom: 50%;
}
.showMore{
 border:none;
 top: 50%;
 right: 0;
 bottom: 0;
}