.sideBar{
  padding-top:40px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
flex: 1;
  &__link{
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    padding: 15px;
    color: #60ff00;
  }
}