.td {
  //display: flex;
    //align-items: center;
  //  flex-direction: column;
  //justify-content: center;
flex:1
}

.tr {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table * {
  border: none;;
}

.table {
  border: 1px solid lightgrey;
  border-radius: 5px;

  &__wrapper{
    position: relative;
    padding-right: 110px;

  }
}
.tableList{

  &__item{
    padding: 0!important;
    border: none!important;
  }
}

